@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --primary-color: #6501FF;
    --secondary-color: #84828F;
    --accent-color: #F7E38B;
    --light-color: #FAF9F6;
    --dark-color: #0D1321;

    --font-primary: "Space Grotesk", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* navbar */

#navbar{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: baseline;

    padding: 0.8rem;

    background-color: var(--light-color);

    border-bottom: solid var(--primary-color) 2px;
}

#navbar #logo{
    font-size: 1.1rem;
    font-weight: 700;
}

#navbar ul{
    list-style: none;

    display: flex;
    gap: 4rem;
    justify-content: center;
}

#navbar a{
    text-decoration: none;

    color: var(--primary-color);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
}

#navbar a:hover{
    text-decoration: underline var(--primary-color) 2px;
}

/* hero */

.hero{
    height: 100vh;
    position: relative;
}

#hero-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container-hero{
    position: absolute;
    top: 80px;

    padding: 0 180px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

#container-hero h1{
    font-family: var(--font-primary);
    font-size: 4rem;
    font-weight: 700;

    color: var(--dark-color);
}

#container-hero p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;

    margin-top: 1rem;

    max-width: 600px;

    color: var(--dark-color);
}

#container-hero a{
    margin-top: 1.5rem;
    padding: 0.8rem;

    width: fit-content;

    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--light-color);
    background-color: #6501FF;
    border-radius: 1rem;
}

#container-hero a:hover{
    background-color: rgba(0, 0, 0, 0);
    /*background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);*/
    color: var(--primary-color);
    border: solid var(--primary-color) 1px;
}